__pycache__/
*.pyc

# Android buildozer outputs
android/bin/
android/build/
android/.buildozer/
android/dist_apk/
gen_android_assets.py

# Desktop PyInstaller outputs
desktop/build/
desktop/dist/
desktop/*.spec